Library/
Temp/
Output/
2dgame.sln
2dgame-csharp.sln
2dgame.userprefs
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp.pidb
Assembly-CSharp-firstpass.pidb
*.DS_Store
!GoKit.dll
Assets/-tk2d
Assets/Assets/TK2DROOT
Assets/-tk2d.asset
Assets/-tk2d.asset.meta
Assets/Assets/TK2DROOT.meta
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
